.header img {
	float: left;
}
.header h3 {
	color: red;
	text-align: center;
	font-size: 30px;
}
.header h1{
	font-size: 30px;
	text-align: center;
	color: blue;
	font-family: 600px;
}
.header p {
	text-align: center;
}
.menu ul {
	text-align: center;
}
.menu ul li {
	float: left;
	margin: 20px;
	
	
}
.menu ul li a {
	color :whitesmoke;
	text-align: center;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
	font-family: 600px;
}
.menu {
	margin-top: 100px;
	height: 70px;
	background-color: #0E2B9E;

}